---
---
<div class="flex mt-[-19px] z-10 space-x-10">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
</div>

<style>
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #3498db;
        left: 50%;
        position: relative;

        
    }
    .container{
        background-color: aqua;
    }

  


</style>