---
---
<div class=" grid md:flex  justify-center p-10 items-center md:space-x-40">
    <div class="h-[400px] rounded-2xl  mt-[10px] w-[300px] bg-red-500"><span>asd</span></div>
    <div class="h-[500px] rounded-2xl  mt-[10px] w-[300px] bg-red-500"><span>asd</span></div>
    <div class="h-[400px] rounded-2xl  mt-[10px] w-[300px] bg-red-500"><span>asd</span></div>

</div>