---
---
<div class="flex justify-center p-10 items-center space-x-40">
    <div class="h-[400px] w-[300px] bg-red-500"></div>
    <div class="h-[500px] w-[300px] bg-red-500"></div>
    <div class="h-[400px] w-[300px] bg-red-500"></div>

</div>