---
import Circle from '../components/Hero.astro';
---
<div class="container">
	<div class=" card  bg-red-500 ">
		<div class="card2">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
		</div>
	</div>
	

</div>

<style>
	.container{
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 150px;
		width: 100%;
	
	}
	 .card2{
		/* */
		width: 200px;
		height: 100px;
		position: relative;
	} 
	.container .card{
		width: 90%;
		height: 100px;
		background-color: red;
		border-radius: 15px;
		position: relative;
		display: flex;
		justify-content: end;
	}
	.circle{
		width: 50px;
		height: 50px;
		background-color: #24246e;
		border-radius: 50%;
		position: absolute;
	}
	.circle::after{
		border: 2px solid #24246e;
		/* translate: -2px -50px; */
		background-color: white;
		content: '';
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: relative;
	}
	.container .card .circle:nth-child(1){
		top: 80%;
	}	
	.container .card .circle:nth-child(2){
		
		top: 80%;
		left: 35%;
	}
	.container .card .circle:nth-child(3){
	
		top: 80%;
		left: 70%;
	}

	.ani{
		clip-path: path('M 11,0 L 490,0 A 10,10,0,0,1 500,10 L 500,70 A 10,10,0,0,1 490,80 L 250,80 A 10,10,0,0,0 240,90 A 10,10,0,0,1 230,100 L 10,100 A 10,10,0,0,1 0,90 L 0,10 A 10,10,0,0,1 10,0 Z');
		}
